@font-face {
    font-family: "whisk-it-font";
    src: url("./font/Roboto_Condensed/RobotoCondensed-Regular.ttf");
    src: url("./font/Roboto_Condensed/RobotoCondensed-Bold.ttf");
    src: url("./font/Roboto_Condensed/RobotoCondensed-Light.ttf");
}

:root {
    --blue: #95c9e7;
}

html{
    overflow-y: scroll;
    margin: 0;
    padding:0;
}

body {
    margin: 0;
    font-family: whisk-it-font, system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("website-icons/Whisk-it-background.webp") center;
}

a{
    color: white;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select{
    border-radius: 10px;
    background-color: var(--blue);
    font-family: inherit;
    border: none;
    color: white;
    font-size: 0.7em;
    width: 150px;
}

.btn {
    background-color: var(--blue);
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 1px #dbd5d5;
    cursor: pointer;
    user-select: none;
}

.btn:active {
    transform: scale(0.96);
    box-shadow: none;
}

.website-container {
    width: 1300px;
    margin: auto;
}

/*-------------Header--------------*/

.header-banner-div {
    max-width: 400px;
    margin: auto;
}

.header-banner-image {
    max-width: 400px;
}

/*---------------------Menu-----------------------*/

.menu-container {
    background-color: var(--blue);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding:5px;
}

.menu-options {
    margin: 0 10px;
    cursor: pointer;
}

.basket-button {
    float: right;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-column-gap: 5px;
}

.basket-image {
    height: 25px;
    margin-right:5px;
    padding-top: 1px;
}

.basket-total{
    margin: 0;
    padding-top: 3px;
    font-size: 0.8em;
}

.menu-wrapper{
    display:unset
}

.drop-down-container{
    display:none;
}

/*----------------------Home-----------------------*/

.blurb-header{
    font-size: 2em;
    font-weight: bold;
    color: var(--blue);
    margin-top: 10px;
}
.blurb-container{
    padding:10px;
    font-size: 1.1em;
}

.new-offers-container{
    color: var(--blue);
    font-size: 2em;
    font-weight: bold;
}

.new-offers-wrapper{
    color: black;
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 0.52em;
    font-weight: normal;
}

.new-offers-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px var(--blue);
}

.new-products-container{
    color: var(--blue);
    font-size: 2em;
    font-weight: bold;
}

.new-products-wrapper{
    color: black;
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 0.52em;
    font-weight: normal;
}

.new-products-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px var(--blue);
}

/*------------------Product List-------------------*/

.product-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}

.product-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px var(--blue), -1px -1px 20px 1px var(--blue);
}

.product-list-image-div {
    margin-right: 10px;
    width: 150px;
}

.product-list-title-div {
    font-weight: bold;
    font-size: 1.2em;
}

.product-list-image-div img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.product-list-info-container{
    display:grid;
    grid-template-rows: 33%;
}

.product-list-info {
    margin: 5px;
}

/*----------------Product Details------------------*/

.back-button {
    height: 50px;
    float: right;
}

.product-details-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    grid-column-gap: 50px;
}

.product-details-image-div img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 30px
}

.product-details-content {
    font-size: 1.7em;
    border: 1px solid var(--blue);
    border-radius: 30px;
    padding: 10px;
    display: grid;
    grid-template-rows: 25% 25% 1fr;
}

.product-details-title-div {
    font-weight: bold;
    float: left;
}

.allergy-price-buy-container {
    display: grid;
    grid-template-columns: 65% 35%;
    align-self: end;
    align-items: end;
}

.allergens-div{
    font-weight: bold;
}

.allergy-div {
    align-self: end;
}

.price-buy-wrapper {
    justify-self: right;
    margin-right: 20px;
    align-self: end;
    display:grid;
    height:100px;
}

.product-details-buy-div {
    align-self: end;
}
.select-div{
    margin: 10px;
}

/*---------------------Offers----------------------*/

.offers-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}

.offers-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px var(--blue);
}

.offers-img-div img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.offers-image-div {
    margin-right: 10px;
    width: 150px;
}

.offers-title-div {
    font-weight: bold;
    font-size: 1.2em;
}

.offers-info-container{
    display:grid;
    grid-template-rows: 33%;
}

.offers-info {
    margin: 5px;
}

/*---------------------Gallery---------------------*/

.gallery-container{
    display: grid;
    grid-template-columns: repeat(6, calc(17% - 10px));
    align-items: center;
    justify-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin:10px 0;
}

.gallery-images{
    max-width: 200px;
    max-height: 200px;
}

.gallery-image-zoomed-div{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.8);
}

.gallery-image-zoomed-div img{
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery-images-close{
    top: 5%;
    right: 3%;
    position: fixed;
    font-size: 2em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*---------------------Basket-----------------------*/

.basket-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

.basket-items-wrapper{
    display:grid;
    grid-template-columns: 130px 1fr;
    grid-column-gap: 20px;
    font-size: 1.1em;
    margin: 20px 0;
}

.image-div img {
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
}

.basket-buy-div {
    text-align: center;
    width: 50%;
}

.basket-content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.basket-container {
    width: 70%;
    margin: 0 auto;
}

.basket-image-div{
    margin:auto;
    display:inherit;
}

.checkout-wrapper{
    text-align: right;
    margin:20px;
}

.checkout-wrapper div{
    margin: 10px auto;
    font-size: 1.2em;
}

.product-options{
    font-size: 0.7em;
}

.delete-button{
    width:10px;
    text-align: center;
}

/*----------------------Footer---------------------*/

.footer-wrapper{
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    padding:15px;
    margin: 20px 0 10px 0;
}

.footer-text{
    text-align: center;
}

.footer-links{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}

.instagram-link{
    margin: 10px 0 0 40px;
    grid-column-start: 2;
    display:grid;
    grid-template-columns: auto 1fr;
}

.instagram-link-text{
    align-items: center;
    padding-left:5px;
}

.instagram-link-img img {
    height: 20px;
}

.email-link {
    margin: 10px 40px 0 0;
    grid-column-start: 3;
    display:grid;
    grid-template-columns: auto 1fr;
}

.email-link-text{
    align-items: center;
    padding-left:5px;
}

.email-link-img img {
    height: 20px;
}


/*----------------------------------Checkout-------------------------------*/

.checkout-form-container{
    text-align: center;
    margin:20px;
}

.checkout-form{
    width: 400px;
    margin: 20px auto;
    text-align: right;
}

.checkout-form input {
    margin:10px;
    width: 50%;
}

.checkout-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 20px auto;
    width:50%;
}

.checkout-grid-titles{
    margin:10px;
    text-align: right;
    height:1.33em;
}

.checkout-div-inputs{
    border: 1px solid black;
    height: 1.2em;
    margin: 10px;
    text-align: left;
}

.paypal-btn{
    width:20%;
    margin:0 auto;
    height:1.3em;
}

/*---------------------Checkout Complete-------------------*/

.payment-complete-div{
    text-align: center;
}

/*---------------------Media Styles-------------------------*/

@media screen and (max-width:1300px){

    select {
        width:120px;
    }

    .website-container{
        width:1025px;
    }

    /*----------Product Details----------*/

    .product-details-content{
        font-size: 1.3em;
    }

    /*--------------Gallery--------------*/

    .gallery-container{
        grid-template-columns: repeat(5,20%);
    }
}

@media screen and (max-width:1025px){


    select {
        width:150px;
    }

    .website-container{
        width:769px;
    }

    /*--------------Gallery--------------*/

    .gallery-container{
        grid-template-columns: repeat(4,24%);
    }

    .gallery-images {
        width: 150px;
        max-height: 150px;
    }

    /*------------Product List-----------*/

    .product-wrapper {
        font-size: 1em;
    }

    /*----------Product Details----------*/

    .product-details-image-div img {
        max-width: 300px;
    }

    .product-details-content{
        font-size: 1.1em;
        grid-template-rows: 15% 30% 1fr;
    }

    .price-buy-wrapper{
        height: 70px;
    }

    .back-button{
        height:30px;
    }

    /*---------------Footer--------------*/

    .footer-links{
        grid-template-columns: 15% 35% 35% 15%;
    }
}
@media screen and (max-width: 769px){

    select{
        width:100px;
    }

    .website-container{
        width:481px;
        font-size: 0.8em;
    }

    /*----------------Menu---------------*/

    .menu-container{
        padding: 5px 0;
    }

    .menu-wrapper{
        display:none;
    }

    .drop-down-container{
        display: inline-block;
        cursor: pointer;
        position: relative;
    }

    .drop-down-container img{
        height: 20px;
        margin-left: 10px;
    }

    .drop-down-wrapper{
        position: absolute;
        background-color: var(--blue);
        padding: 10px;
        border-radius: 0 0 10px 10px;
        top:30px;
    }

    .drop-down-wrapper{
        z-index: 1;
    }

    /*------------Product List-----------*/

    .product-wrapper {
        display:grid;
        grid-template-columns: 160px 1fr;
    }

    /*----------Product Details----------*/

    .back-button-div{
        display:none;
    }

    .allergy-div{
        display:none;
    }

    .allergy-price-buy-container{
        grid-template-columns: 100%;
    }

    .product-details-image-div img {
        max-width: 200px;
        max-height: 200px;
    }

    .price-buy-wrapper{
        height: unset;
        justify-self: unset;
    }

    .price-buy-wrapper{
        grid-template-columns: 20% 80%;
    }

    .product-details-buy-div{
        justify-self: right;
    }

    .product-details-content{
        grid-template-rows: 15% 45% 1fr;
        font-size: 1em;
    }

    .select-div{
        margin: 0;
    }

    /*--------------Gallery--------------*/

    .gallery-images{
        max-width: 100px;
        max-height: 100px;
    }

    /*---------------Basket--------------*/

    .basket-wrapper{
        display: unset;
    }

    .basket-items-wrapper{
        grid-template-columns: 100px 1fr;
    }

    .image-div img {
        max-width: 100px;
    }

    /*---------------Footer--------------*/

    .footer-links{
        grid-template-columns: 5% 45% 45% 5%;
    }
}

@media screen and (max-width: 481px) {

    select{
        width:120px;
    }

    .website-container {
        width: 310px;
    }

    /*---------------Header--------------*/

    .header-banner-image{
        max-width:310px;
    }

    /*----------------Menu---------------*/

    .menu-container{
        font-size: 20px;
    }

    .basket-image{
        height:23px;
    }

    .drop-down-container img {
        height: 15px;
    }

    .drop-down-wrapper{
        top:18px;
    }

    /*----------------Home---------------*/

    .home-container{
        text-align: center;
    }

    .new-products-wrapper{
        display:grid;
        text-align:center;
    }

    .new-offers-wrapper{
        display: grid;
        text-align: center;
    }

    /*------------Product List-----------*/

    .product-list-image-div{
        margin: 0 auto;
    }

    /*------------Product List-----------*/

    .product-wrapper{
        grid-template-columns: 100%;
        text-align: center;
    }

    .product-details-image-div{
        margin: 10px auto;
    }

    /*----------Product Details----------*/

    .product-details-wrapper{
        grid-template-columns: 100%;
        margin-top: 10px;
    }

    .product-details-content{
        grid-template-rows: 15% 25% 1fr;
    }

    .allergy-div{
        display: unset;
    }

    .allergy-price-buy-container{
        grid-template-columns: 60% 40%;
    }

    .price-buy-wrapper{
        height: 50px;
        justify-self: right;
        grid-template-columns: 100%;
        text-align: right;
    }

    .select-wrapper{
        margin: 10px 0;
    }

    .select-div{
        margin: 10px;
    }

    /*---------------Offers--------------*/

    .offers-wrapper{
        display:grid;
        text-align: center;
    }

    /*--------------Gallery--------------*/

    .gallery-container{
        grid-template-columns: repeat(3,31%);
    }

    .gallery-images{
        max-width:88px;
    }

    /*---------------Footer--------------*/

    .footer-links{
        grid-template-columns: 100%;
    }

    .instagram-link{
        grid-column-start: unset;
        justify-self: center;
        margin: 10px 0;
    }

    .email-link{
        grid-column-start: unset;
        justify-self: center;
        margin: 0;
    }

    /*---------------Basket--------------*/

    .basket-items-wrapper{
        grid-column-gap: 5px;
    }

    /*--------------Checkout-------------*/

    .checkout-form-container{
        margin: 0;
        text-align: right;
    }

    .checkout-form{
        width:auto;
    }
}



















