
@font-face {
    font-family: 'whisk-it-font';
    src: url('./font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
    src: url('./font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
    src: url('./font/Roboto_Condensed/RobotoCondensed-Light.ttf');

}
body {
    margin: 0;
    font-family: whisk-it-font, system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('website-icons/Whisk-it-background.webp') center;
}
a{
    color: white;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.website-container {
    width: 1300px;
    margin: auto;
}
.btn {
    background-color: #95c9e7;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 1px #dbd5d5;
    cursor: default;
    user-select: none;
}

.btn:active {
    transform: scale(0.96);
    box-shadow: none;
}
select{
    border-radius: 10px;
    background-color: #99cbe7;
    font-family: inherit;
    border: none;
    color: white;
    font-size: 0.7em;
    width: 150px;
}


/*-------------Header--------------*/

.header-banner-div {
    max-width: 400px;
    margin: auto;
}

.header-banner-image {
    max-width: 400px;
}

/*---------------------Menu-----------------------*/

.menu-container {
    background-color: #95c9e7;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.menu-options {
    margin: 0 10px;
    cursor: pointer;
}

.basket-button {
    float: right;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 5px;
}

.basket-image {
    height: 33px;
    margin-right:5px;
}
.basket-total{
    margin: 0;
    padding-top: 3px;
    font-size: 0.8em
}
/*----------------------Home-----------------------*/
.new-offers-container{
    color: #95c9e7;
    font-size: 2em;
    font-weight: bold;
}
.new-offers-wrapper{
    color: black;
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 0.52em;
    font-weight: normal;
}
.new-offers-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}

.new-products-container{
    color: #95c9e7;
    font-size: 2em;
    font-weight: bold;
}
.new-products-wrapper{
    color: black;
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 0.52em;
    font-weight: normal;
}
.new-products-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}

/*------------------Product List-------------------*/

.product-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}

.product-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}

.product-list-image-div {
    margin-right: 10px;
    width: 150px
}
.product-list-title-div {
    font-weight: bold;
    font-size: 1.2em
}

.product-list-image-div img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto
}
.product-list-info-container{
    display:grid;
    grid-template-rows: 33%;
}
.product-list-info {
    margin: 5px;
}

/*----------------Product Details------------------*/

.back-button {
    height: 50px;
    float: right
}

.product-details-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    grid-column-gap: 50px;
}

.product-details-image-div img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 30px
}

.product-details-content {
    font-size: 1.7em;
    border: 1px solid #95c9e7;
    border-radius: 30px;
    padding: 10px;
    display: grid;
    grid-template-rows: 25% 25% 1fr;
}

.product-details-title-div {
    font-weight: bold;
    float: left
}

.allergy-price-buy-container {
    display: grid;
    grid-template-columns: 65% 35%;
    align-self: end;
    align-items: end;
}
.allergens-div{
    font-weight: bold;
}
.allergy-div {
    align-self: end;
}

.price-buy-wrapper {
    justify-self: right;
    margin-right: 20px;
    align-self: end;
    display:grid;
    height:100px;
}

.product-details-buy-div {
    align-self: end;
}
.select-div{
    margin: 10px;
}


/*---------------------Offers----------------------*/

.offers-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}
.offers-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}
.offers-img-div img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto
}
.offers-image-div {
    margin-right: 10px;
    width: 150px
}
.offers-title-div {
    font-weight: bold;
    font-size: 1.2em
}
.offers-info-container{
    display:grid;
    grid-template-rows: 33%;
}
.offers-info {
    margin: 5px;
}
/*---------------------Gallery---------------------*/
.gallery-container{
    display: grid;
    grid-template-columns: repeat(6, calc(17% - 10px));
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin:10px 0 0 10px
}
.gallery-images{
    width: 200px;
    max-height: 200px;
    align-self: center;
}
/*---------------------Basket-----------------------*/
.basket-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

.basket-items-wrapper{
    display:grid;
    grid-template-columns: 130px 1fr;
    grid-column-gap: 20px;
    font-size: 1.1em;
    margin: 20px 0;
}
.image-div img {
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
}

.basket-buy-div {
    text-align: center;
    width: 50%;
}
.basket-content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    border: 1px solid #99cbe7;
    border-radius: 10px;
}
.basket-container {
    width: 70%;
    margin: 0 auto;
}
.basket-image-div{
    margin:auto;
    display:inherit;
}
.checkout-wrapper{
    text-align: right;
    margin:20px;
}
.checkout-wrapper div{
    margin: 10px auto;
    font-size: 1.2em;
}
.product-options{
    font-size: 0.7em;
}
.delete-button{
    width:10px;
    text-align: center;
}

/*----------------------Footer---------------------*/

.footer-wrapper{
    background-color: #99cbe7;
    color: white;
    border-radius: 10px;
    padding:15px;
    margin: 20px 0 10px 0;
}
.footer-text{
    text-align: center;
}
.footer-links{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}
.instagram-link{
    margin: 10px 0 0 40px;
    grid-column-start: 2;
    display:grid;
    grid-template-columns: auto 1fr;
}
.instagram-link-text{
    align-items: center;
    padding-left:5px
}
.instagram-link-img img {
    height: 20px
}
.email-link {
    margin: 10px 40px 0 0;
    grid-column-start: 3;
    display:grid;
    grid-template-columns: auto 1fr;
}
.email-link-text{
    align-items: center;
    padding-left:5px
}
.email-link-img img {
    height: 20px
}


/*----------------------------------Checkout-------------------------------*/
.checkout-form-container{
    text-align: center;
    margin:20px;
}
.checkout-form{
    width: 30%;
    margin: 20px auto;
    text-align: right;
}
.checkout-form input {
    margin:10px;
    width: 50%
}
.checkout-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 20px auto;
    width:50%;
}
.checkout-grid-titles{
    margin:10px;
    text-align: right;
    height:1.33em;
}
.checkout-div-inputs{
    border: 1px solid black;
    height: 1.2em;
    margin: 10px;
    text-align: left;
}
.paypal-btn{
    width:20%;
    margin:0 auto;
    height:1.3em;
}























