body {
    margin: 0;
    font-family: Garamond, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('website-icons/Whisk-it-background.webp') center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.website-container {
    width: 1300px;
    margin: auto;
}

/*-------------Header--------------*/

.header-banner-div {
    max-width: 400px;
    margin: auto;
}

.header-banner-image {
    max-width: 400px;
}

/*---------------------Menu-----------------------*/

.menu-container {
    background-color: #95c9e7;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.menu-options {
    margin: 0 10px;
    cursor: default;
}

.basket-button {
    float: right;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 5px;
}

.basket-image {
    height: 33px;
    margin-right:5px;
}
.basket-total{
    margin: 0;
    font-size: 25px;
}
/*----------------------Home-----------------------*/


/*------------------Product List-------------------*/

.product-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}

.product-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}

.product-list-image-div {
    margin-right: 10px;
    width: 150px
}
.product-list-title-div {
    font-weight: bold;
    font-size: 1.2em
}

.product-list-image-div img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto
}
.product-list-info-container{
    display:grid;
    grid-template-rows: 33%;
}
.product-list-info {
    margin: 5px;
}

/*----------------Product Details------------------*/

.back-button {
    height: 50px;
    float: right
}

.product-details-wrapper {
    display: grid;
    grid-template-columns: 450px 1fr;
    margin-top: 30px;
}

.product-details-image-div img {
    width: 400px;
    border-radius: 30px
}

.product-details-content {
    font-size: 1.7em;
    border: 1px solid #95c9e7;
    border-radius: 30px;
    padding: 10px;
    display: grid;
    grid-template-rows: 25% 33% 1fr;
}

.product-details-title-div {
    font-weight: bold;
    float: left
}

.allergy-price-buy-container {
    display: grid;
    grid-template-columns: 65% 35%;
    align-self: end;
}
.allergens-div{
    font-weight: bold;
}
.allergy-div {
    align-self: end;
}

.price-buy-wrapper {
    justify-self: right;
    margin-right: 20px;
    align-self: end;
    display:grid;
    height:100px;
}

.product-details-buy-div {
    background-color: #95c9e7;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 1px lightgray;
    cursor: default;
    user-select: none;
    align-self: end;
}

.product-details-buy-div:active {
    transform: scale(0.96);
    box-shadow: none;
}


/*---------------------Offers----------------------*/

.offers-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.25s;
    cursor: default;
    font-size: 1.1em;
}
.offers-wrapper:hover {
    transform: scale(1.025);
    transition: 0.25s;
    box-shadow: 1px 1px 20px 1px #95c9e7, -1px -1px 20px 1px #99cbe7;
}
.offers-img-div img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto
}
.offers-image-div {
    margin-right: 10px;
    width: 150px
}
.offers-title-div {
    font-weight: bold;
    font-size: 1.2em
}
.offers-info-container{
    display:grid;
    grid-template-rows: 33%;
}
.offers-info {
    margin: 5px;
}
/*---------------------Gallery---------------------*/
.gallery-container{
    display: grid;
    grid-template-columns: repeat(6, calc(17% - 10px));
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin:10px 0 0 10px
}
.gallery-images{
    width: 200px;
    max-height: 200px;
    align-self: center;
}
/*---------------------Basket-----------------------*/


/*----------------------Footer---------------------*/
























